@import url(http://fonts.googleapis.com/css?family=Yantramanav:100,300);
@import url(http://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700);

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

body{
  color: #000;
}

.row{
  margin: 0 !important;
}

.bg-destaque{
  background: #000;
  padding: 90px 0;
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin-top: 75px;
  position: relative;
  box-shadow:0px 2px 2px #A0A0A0;
  h1{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
  }
  span{
    background: #fff;
    color: #000;
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    font-family: 'Yantramanav', sans-serif;
    padding: 3px 8px;
    text-transform: uppercase;
  }
  &:before{
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 0;
    width: 70px;
    height: 60px;
    background: url("../img/bg-terminal-2.gif");
    background-size: cover;
  }
  img{
    width: 50%;
  }
}

.logo{
  width: 80px;
  margin: 35px auto 0px auto;
  height: 80px;
  border: 2px solid #333;
  overflow: hidden;
  border-radius: 99px;
  padding: 5px;
  span{
    display: block;
    width: 65px;
    padding: 4px 13px;
    height: 65px;
    font-size: 56px;
    border-radius: 99px;
    border: 1px solid #333;
  }
}

.txt-top{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  color: #333;
  max-width: 450px;
  margin: 0 auto;
  h1{
    font-size: 5em;
    line-height: 50px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

  }
  i{
    font-style: normal;
    font-weight: 200;
    font-size: 0.4em;
    line-height: 30px;
    display: block;
    margin-top: 20px;
  }
  p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 85px;
    font-family: 'Rajdhani', sans-serif;
  }
}

#nav-fixed{
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.nav{
  background: #fff;
  padding: 15px 0 3px;
  overflow: hidden;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.15);
}

.logo-nav{
  font-size: 3em;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  span{
    position: absolute;
    font-size: 24px;
    top: -2px;
    left: 4px;
    transform: rotate(-5deg);
    color: #5EBD6D;
  }
}

.menu-nav{
  margin-top: 18px;
  a{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    color: #323232;
    display: inline-block;
    font-size: 15px;
    margin-left: 25px;
    &:hover{
      text-decoration: none;
      transition: all linear 0.2s;
      color: #5EBD6D;
    }
  }
}

.produtos{
  ul{
    list-style: none;
    margin: 0;
    padding: 50px 0;
    overflow: hidden;
    li{
      text-align: center;
      margin: 30px 0;
      img{
        width: 80%;
        margin: 0 auto;
      }
      h1{
        font-family: 'Hind', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
      p{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 0 10px;
      }
    }
  }
}

.habilidades{
  background: #f5f5f5;
  h2{
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 40px;
    text-align: center;
    margin: 80px 0;
    text-transform: uppercase;
  }
  &:before{
    content: " ";
    width: 100%;
    height: 30px;
    background: url("../img/pattern-indian.png") repeat-x;
    opacity: 0.2;
  }
  &:after{
    content: " ";
    width: 100%;
    height: 19px;
    background: url("../img/pattern-indian.png") repeat-x;
    opacity: 0.2;
  }
}

.lista-tecnologias{
  margin-bottom: 50px;
  overflow: hidden;
  ul{
    margin: 0;
    padding: 0;
    list-style:none;
    li{
      color: #000;
      text-align: center;
      overflow: hidden;
      margin-bottom: 25px;
      opacity: 0.6;
      &:hover{
        text-decoration: none;
        color: #79D387;
        transition: all linear 0.2s;
        opacity: 1;
      }
      &:hover span{
        color: #79D387;
        transition: all linear 0.2s;
      }
      span{
        font-size: 70px;
        color: #000;
      }
      i{
        font-weight: 100;
        display: block;
        text-align: center;
        margin-top: 8px;
        font-size: 15px;
        font-family: 'Rajdhani', sans-serif;
      }
    }
  }
}

.mais-habilidades {
  /*display: none;*/
}

.portfolio{
  background: #000;
  box-shadow: 0px -1px 5px rgba(187, 187, 187, 0.68);
  h4{
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 80px 0;
    text-transform: uppercase;
  }
  &:before{
    content: " ";
    display: block;
    width: 100%;
    height: 30px;
    background: url("../img/pattern-indian-white.png") repeat-x;
  }
  &:after{
    content: " ";
    display: block;
    width: 100%;
    height: 19px;
    background: url("../img/pattern-indian-white.png") repeat-x;
  }
}

.projetos{
  list-style: none;
  margin: 0 auto 80px;
  padding: 0;
  overflow: hidden;
  width: 283px;
  li{
    float: left;
    position: relative;
    width: 283px;
    height: 183px;
    overflow: hidden;
  }
}

.hover-projetos{
  opacity: 0;
  position: absolute;
  background: #5EBD6D;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 20px;
  h2{
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
  p{
    color: #fff;
    font-family: 'Yantramanav', sans-serif;
  }
  a{
    color: #fff;
    font-size: 12px;
    font-family: 'Yantramanav', sans-serif;
    &:hover{
      text-decoration: none;
    }
  }
}

.projetos li:hover .hover-projetos{
  transition: all 0.2s linear;
  opacity: 1;
}

.profissional{
  background: #fff;
  padding: 100px 0 0;
  h1{
    color: #000;
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
  }
  &:after{
    content: " ";
    display: block;
    background: url("../img/bg-profissionais.png") repeat-x;
    width: 100%;
    height: 147px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
 .profissional{
   h1{
    font-size: 40px;
    color: red;
   }
 }
}

.cada-profissional{
  color: #000;
  text-align: center;
  margin: 30px 0 60px;
  img{
    display: block;
    overflow: hidden;
    width: 105px;
    height: 105px;
    border-radius: 99px;
    margin: 0 auto;
    border: 4px solid #eaeaea;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.15);
  }
  h3{
    font-size: 25px;
    font-family: 'Hind', sans-serif;
    font-height: 29px;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
  }
  i{
    font-style: normal;
    font-size: 13px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    display: block;
    margin: 5px 0 10px;
  }
  p{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    max-width: 400px;
    margin: 10px auto;
    font-size: 17px;
  }
  a{
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    font-weight: 300;
    background: #74BE80;
    padding: 3px 13px;
    border-radius: 3px;
    &:hover{
      transition: all linear 0.2s;
      background: #fff;
      color: #74BE80;
      text-decoration: none;
    }
  }
}

.footer{
  text-align: center;
  background: #f4f4f4;
  padding: 0px 0 20px;
  img{
    display: block;
    width: 30px;
    margin: 0 auto;
  }
  p{
    margin: 15px 0 0;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    a{
      color: #333;
      text-decoration: underline;
      font-family: 'Hind', sans-serif;
      font-weight: 700;
    }
  }
  small{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    padding-bottom: 5px;
  }
}

.botao-mais{
  margin: 5px 0 15px 0 !important;
}
.btn-email{
  border: 1px solid #34643B;
  color: #2E5934;
  font-family: sans-serif;
  background-color: #ECFAEE;
}

.anchor-arrow{
  color: #323232;
  &:hover, &:active, &:focus{
    color: #323232;
    text-decoration: none;
  }
}
@media (min-width: 700px){
  .bg-destaque{
    img{
      width: 15%;
      margin-bottom: 20px;
    }
  }
  .bg-top{
    background: url("http://tremendouswallpapers.com/wp-content/uploads/2014/12/ff4fac0933f4fdf4e65fd6f85cafabf6_large.jpeg") 0 50px no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .projetos{
    width: 566px;
  }
}

@media (min-width:900px){

  .scroll-notify{
    text-align: center;
    margin: 0 auto 70px;
    .scroll-icon{
      font-size: 35px;
      text-align: center;
      display: block;
      margin: 0px auto;
      -webkit-animation-duration: 2s;
    }
  }

  .logo{margin-top: 100px;}

  .txt-top{
    max-width: 700px;
    h1{
      font-size: 7em;
      margin-top: 60px;
    }
    i{
      font-size: 0.35em;
      margin-top: 40px;
    }
    p{
      width: 460px;
      margin: 0 auto;
      margin-bottom: 75px;
    }
  }

  .projetos{
    width: 850px;
  }
}



/*blog*/

.destaque-blog{
  margin-top: 80px;
  padding: 30px 0;
  background: #fff;
  color: #000;
  text-align: center;
  h1{
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    i{
      font-family: 'Rajdhani', sans-serif;
      font-weight: 200;
      font-style: normal;
    }
  }
  span{
    background: #000;
    color: #fff;
    padding: 1px 5px;
    font-size: 16px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  img{
    width: 50%;
    margin: 0 auto;
  }
}

.bg-posts-blog{
  background: #000;
  &:before{
    content: " ";
    display: block;
    width: 100%;
    height: 30px;
    background: url("../img/pattern-indian-white.png") repeat-x;
  }
  &:after{
    content: " ";
    display: block;
    width: 100%;
    height: 19px;
    background: url("../img/pattern-indian-white.png") repeat-x;
  }
}

.posts-blog{
  background: #000;
  padding: 50px;
}

.posts-categorias{
  h2{
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    display: block;
    color: #fff;
    text-transform: uppercase;
  }
  ul{
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    li{
      display: inline-block;
      margin-bottom: 10px;
      a{
        font-family: 'Yantramanav', sans-serif;
        background: #fff;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        padding: 2px 5px;
        font-size: 15px;
        margin: 5px;
        &:hover{
          transition: all linear 0.2s;
          background: #5EBD6D;
          color: #000;
          text-decoration: none;
        }
        span{
          font-family: 'Hind' sans-serif;
        }
      }
    }
  }
}

.posts-listagem{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #888;
    font-family: 'Yantramanav', sans-serif;
    li{
      margin-bottom: 50px;
      h1{
        margin: 0;
        a{
          font-family: 'Hind', sans-serif;
          font-weight: 700;
          color: #f4f4f4;
          font-size: 24px;
        }
      }
      p{
        font-weight: 300;
        font-size: 15px;
      }
      img{
        width: 100%;
        border: 1px solid #333;
        padding: 3px;
        margin: 5px 0;
      }
    }
  }
}

.btn-leia{
  display: inline-block;
  border: 1px solid #5EBD6D;
  padding: 3px 8px;
  color: #5EBD6D;
  font-weight: 700;
  font-family: 'Yantramanav' , sans-serif;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 1px;
  &:hover{
    transition: all linear 0.2s;
    background: #5EBD6D;
    color: #000;
    text-decoration: none;
  }
}

.destaque-leitura-blog{
  margin-bottom: 90px;
}

.leitura-blog{
  margin-top: -100px;
  .posts-categorias{
    h2{
      font-size: 18px;
      text-align: left;
      color: #ccc;
    }
    ul{
      text-align: left;
      li{
        margin: 0 0 10px 0;
      }
    }
  }
}

.conteudo-blog{
  font-family: 'Yantramanav', sans-serif;
  h1{
    font-family: 'Hind', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  h2, h3, h4, h5, h6{
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 20px 0 5px;
  }
  p{
    color: #888;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
  }
  small{
    color: #888;
    margin-bottom: 10px;
    display: block;
  }
  img{
    width: 100%;
    border:1px solid #333;
    padding: 3px;
    margin-bottom: 10px;
  }
}

.post-recentes{
  border-top: 1px solid #333;
  padding-top: 20px;
  li{
    margin-bottom: 20px !important;
  }
  h1{
    a{
      font-weight: 300 !important;
      font-size: 20px !important;
      color: #ccc !important;
    }
  }
}

@media (min-width: 700px){
  .destaque-blog{
    img{width: 15%;}
  }
  .leitura-blog{
    .posts-categorias{
      margin-top: 70px;
    }
  }
}


/*blog*/



/*************
 *  Icomoon  *
 *************/


@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-10pzed');
  src:url('../fonts/icomoon.eot?#iefix-10pzed') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?-10pzed') format('truetype'),
  url('../fonts/icomoon.woff?-10pzed') format('woff'),
  url('../fonts/icomoon.svg?-10pzed#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icone:before {
	content: "\e629";
}
.icon-codeship:before {
	content: "\e628";
}
.icon-yeoman .path1:before {
	content: "\e60e";
	color: rgb(11, 11, 11);
}
.icon-yeoman .path2:before {
	content: "\e60f";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path3:before {
	content: "\e616";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path4:before {
	content: "\e617";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path5:before {
	content: "\e618";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path6:before {
	content: "\e619";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path7:before {
	content: "\e61b";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path8:before {
	content: "\e61c";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path9:before {
	content: "\e61d";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path10:before {
	content: "\e61e";
	margin-left: -0.974609375em;
	color: rgb(252, 252, 252);
}
.icon-yeoman .path11:before {
	content: "\e61f";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path12:before {
	content: "\e620";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path13:before {
	content: "\e621";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-yeoman .path14:before {
	content: "\e622";
	margin-left: -0.974609375em;
	color: rgb(11, 11, 11);
}
.icon-gulp:before {
	content: "\e623";
}
.icon-protractor:before {
	content: "\e624";
}
.icon-waterline2:before {
	content: "\e60d";
}
.icon-cordova:before {
	content: "\e604";
}
.icon-firebird-logoConverted:before {
	content: "\e605";
}
.icon-Phonegap-Logo-Simple:before {
	content: "\e609";
}
.icon-dbs-postgresql:before {
	content: "\e60a";
}
.icon-logo-mysql:before {
	content: "\e60b";
}
.icon-mongo:before {
	content: "\e60c";
}
.icon-sails:before {
	content: "\e610";
}
.icon-chaijs:before {
	content: "\e625";
}
.icon-cucumber .path1:before {
	content: "\e626";
	color: rgb(0, 0, 0);
}
.icon-cucumber .path2:before {
	content: "\e627";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-laravel:before {
	content: "\e611";
}
.icon-Git-Icon-Black:before {
	content: "\e603";
}
.icon-nodejs:before {
	content: "\e601";
}
.icon-unity:before {
	content: "\e602";
}
.icon-10-html5:before {
	content: "\e600";
}
.icon-php:before {
	content: "\e606";
}
.icon-diamond:before {
	content: "\e607";
}
.icon-36-android:before {
	content: "\e608";
}
.icon-js:before {
	content: "\e612";
}
.icon-Ruby_on_Rails_2:before {
	content: "\e613";
}
.icon-cofeescript:before {
	content: "\e614";
}
.icon-FuelPHP_logo:before {
	content: "\e615";
}
.icon-python:before {
	content: "\e61a";
}
.icon-circle-down:before {
	content: "\ea43";
}
